# Catppuccin themes for various applications

# bat catppuccin themes
[".config/bat/themes/Catppuccin Latte.tmTheme"]
    type = "file"
    url = "https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Latte.tmTheme"
    refreshPeriod = "168h"
[".config/bat/themes/Catppuccin Frappe.tmTheme"]
    type = "file"
    url = "https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Frappe.tmTheme"
    refreshPeriod = "168h"
[".config/bat/themes/Catppuccin Macchiato.tmTheme"]
    type = "file"
    url = "https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Macchiato.tmTheme"
    refreshPeriod = "168h"
[".config/bat/themes/Catppuccin Mocha.tmTheme"]
    type = "file"
    url = "https://github.com/catppuccin/bat/raw/main/themes/Catppuccin%20Mocha.tmTheme"
    refreshPeriod = "168h"

# btop catppuccin themes
[".config/btop/themes/catppuccin_latte.theme"]
    type = "file"
    url = "https://github.com/catppuccin/btop/raw/main/themes/catppuccin_latte.theme"
    refreshPeriod = "168h"
[".config/btop/themes/catppuccin_frappe.theme"]
    type = "file"
    url = "https://github.com/catppuccin/btop/raw/main/themes/catppuccin_frappe.theme"
    refreshPeriod = "168h"
[".config/btop/themes/catppuccin_macchiato.theme"]
    type = "file"
    url = "https://github.com/catppuccin/btop/raw/main/themes/catppuccin_macchiato.theme"
    refreshPeriod = "168h"
[".config/btop/themes/catppuccin_mocha.theme"]
    type = "file"
    url = "https://github.com/catppuccin/btop/raw/main/themes/catppuccin_mocha.theme"
    refreshPeriod = "168h"

# eza catppuccin theme
[".config/eza/theme.yml"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/eza/refs/heads/main/themes/mocha/catppuccin-mocha-mauve.yml"
    refreshPeriod = "168h"

{{ if .desktop }}
# k9s Catppuccin themes
[".config/k9s/skins"]
    type = "archive"
    url = "https://github.com/catppuccin/k9s/archive/main.tar.gz"
    exact = true
    stripComponents = 2
    refreshPeriod = "168h"

# foot catppuccin themes
[".config/foot/catppuccin_frappe.ini"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/foot/refs/heads/main/themes/catppuccin-frappe.ini"
    refreshPeriod = "168h"
[".config/foot/catppuccin_mocha.ini"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/foot/refs/heads/main/themes/catppuccin-mocha.ini"
    refreshPeriod = "168h"

# zen catppuccin themes
[".local/share/catppuccin/zen/mocha_sky_userChrome.css"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/zen-browser/refs/heads/main/themes/Mocha/Sky/userChrome.css"
    refreshPeriod = "168h"
[".local/share/catppuccin/zen/mocha_sky_userContent.css"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/zen-browser/refs/heads/main/themes/Mocha/Sky/userContent.css"
    refreshPeriod = "168h"
[".local/share/catppuccin/zen/mocha_sky_zen-logo.svg"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/zen-browser/refs/heads/main/themes/Mocha/Sky/zen-logo-mocha.svg"
    refreshPeriod = "168h"
[".local/share/catppuccin/zen/latte_sky_userChrome.css"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/zen-browser/refs/heads/main/themes/Latte/Sky/userChrome.css"
    refreshPeriod = "168h"
[".local/share/catppuccin/zen/latte_sky_userContent.css"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/zen-browser/refs/heads/main/themes/Latte/Sky/userContent.css"
    refreshPeriod = "168h"
[".local/share/catppuccin/zen/latte_sky_zen-logo.svg"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/zen-browser/refs/heads/main/themes/Latte/Sky/zen-logo-latte.svg"
    refreshPeriod = "168h"

# zellij catppuccin theme
[".config/zellij/catppuccin.kdl"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/zellij/refs/heads/main/catppuccin.kdl"
    refreshPeriod = "168h"
{{ end }}
