{{ if .desktop }}
# qwerty-fr
[".config/xkb/symbols/us_qwerty-fr"]
    type = "file"
    url = "https://raw.githubusercontent.com/qwerty-fr/qwerty-fr/master/linux/us_qwerty-fr"
    refreshPeriod = "168h"
{{ end }}
