{{ if .desktop }}
# Bibata cursors
[".local/share/icons"]
    type = "archive"
    # url = "https://github.com/ful1e5/Bibata_Cursor/releases/latest/download/Bibata-Modern-Classic.tar.xz"
    url = "https://github.com/stanio/Bibata_Cursor/releases/download/v2.0.6-stanio-6/Bibata-Classic-Linux-v2.0.6-stanio-6.tar.xz"
    exact = true
    include = ["Bibata-Modern-Classic/**"]

# qwerty-fr
[".config/xkb/symbols/us_qwerty-fr"]
    type = "file"
    url = "https://raw.githubusercontent.com/qwerty-fr/qwerty-fr/master/linux/us_qwerty-fr"
    refreshPeriod = "168h"
{{ end }}
