{{ if not .desktop }}
[".local/bin/zfs-inplace-rebalancing"]
    type = "file"
    executable = true
    url = "https://raw.githubusercontent.com/markusressel/zfs-inplace-rebalancing/master/zfs-inplace-rebalancing.sh"
    refreshPeriod = "168h"
{{ end }}
