{{ if not .desktop }}
["scripts/zfs-inplace-rebalancing.sh"]
    type = "file"
    executable = true
    url = "https://raw.githubusercontent.com/markusressel/zfs-inplace-rebalancing/master/zfs-inplace-rebalancing.sh"
    refreshPeriod = "168h"
{{ end }}
