{{ if ne .formFactor "server" }}
# qwerty-fr
[".config/xkb/symbols/us_qwerty-fr"]
    type = "file"
    url = "https://raw.githubusercontent.com/qwerty-fr/qwerty-fr/master/linux/us_qwerty-fr"
    refreshPeriod = "168h"

[".var/app/dev.zed.Zed/config/zed/themes/catppuccin-blue.json"]
    type = "file"
    url = "https://github.com/catppuccin/zed/releases/download/v0.2.25/catppuccin-blue.json"
    refreshPeriod = "0"
{{ end }}
