[Unit]
Description=dotfiles update
After=local-fs.target
After=network-online.target
ConditionPathExists=%h/.local/bin/dotfiles-update
OnFailure=notify-failure@%p.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "%h/.local/bin/dotfiles-update"
Environment="PATH=/home/linuxbrew/.linuxbrew/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=default.target
