[Unit]
Description=Kopia UI
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=kopia-ui --file-forwarding io.kopia.KopiaUI
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical-session.target
