{{- if .desktop -}}
#!/usr/bin/env bash

# DankMaterialShell configuration script

# Hash dependencies: {{ "{{ .chezmoi.homeDir }}/.local/share/catppuccin/zen/mocha_sky_userChrome.css" | sha256sum }}
# Hash dependencies: {{ "{{ .chezmoi.homeDir }}/.local/share/catppuccin/zen/mocha_sky_userContent.css" | sha256sum }}
# Hash dependencies: {{ "{{ .chezmoi.homeDir }}/.local/share/catppuccin/zen/latte_sky_userChrome.css" | sha256sum }}
# Hash dependencies: {{ "{{ .chezmoi.homeDir }}/.local/share/catppuccin/zen/latte_sky_userContent.css" | sha256sum }}

set -euo pipefail

# Source utility functions
source "{{ .chezmoi.homeDir }}/scripts/lib/chezmoi_utils.sh"

main() {
    log_section "Configuring DankMaterialShell"

    if command_exists dms; then
        log_info "Begining DankMaterialShell configuration"

        application_theme_zen
        greeter

        log_info "DankMaterialShell configuration completed"
    else
        log_warn "dms not available, skipping DankMaterialShell configuration"
    fi
}

application_theme_zen() {
    log_info "Zen browser theme installation"

    # Find default profile directory
    log_info "Concatenate catppuccin mocha and catppucin latte in userChrome.css and userContent.css for every found profile"
    find {{ .chezmoi.homeDir }}/.var/app/app.zen_browser.zen/.zen -maxdepth 1 -type d -name "????????.*" -print0 | while IFS= read -r -d '' profile_dir; do
        log_info "Found profile $profile_dir. Executing..."
        mkdir -p "$profile_dir/chrome"
        cat {{ .chezmoi.homeDir }}/.local/share/catppuccin/zen/latte_sky_userChrome.css > "$profile_dir/chrome/userChrome.css"
        cat {{ .chezmoi.homeDir }}/.local/share/catppuccin/zen/mocha_sky_userChrome.css >> "$profile_dir/chrome/userChrome.css"
        cat {{ .chezmoi.homeDir }}/.local/share/catppuccin/zen/latte_sky_userContent.css > "$profile_dir/chrome/userContent.css"
        cat {{ .chezmoi.homeDir }}/.local/share/catppuccin/zen/mocha_sky_userContent.css >> "$profile_dir/chrome/userContent.css"
    done

    log_info "Profiles configured."
    log_info "Theming must be enabled in Zen browser for changes to userChrome.css to take effect! Open about:config and enable toolkit.legacyUserProfileCustomizations.stylesheets. Restart your browser."
}

greeter() {
    log_info "Greeter configuration"
    dms greeter sync
}

# Run main function
main "$@"
{{- end -}}
