{{- if .desktop -}}
#!/usr/bin/env bash

# NFS mounts configuration script
# Configures NFS mounts using external script
# Data hash: {{ include ".chezmoidata/nfs.yaml" | sha256sum }}

set -euo pipefail

# Source utility functions
source "{{ .chezmoi.homeDir }}/.local/lib/chezmoi_utils.sh"

NFS_SERVER_IP="{{ .nfs.server_ip }}"
SHARE_PREFIX="{{ .nfs.share_prefix }}"
MOUNTPOINT_PREFIX="{{ .nfs.mountpoint_prefix }}"
OPTS="{{ .nfs.options }}"

should_backup=true

# Function to add an entry to /etc/fstab if it does not already exists based on share name
add_fstab_entry() {
    local share=$1
    local mount_point=$2
    local options=$3
    local dump_freq=$4
    local pass_num=$5

    local new_entry="${share} ${mount_point} nfs ${options} ${dump_freq} ${pass_num}"

    # Check if the entry's share name already exists in the file
    if grep -qwF "${mount_point}" /etc/fstab; then
        echo "An fstab entry for the share '${share}' already exists."
    else
        if ${should_backup}; then
            date=$(date +%Y%m%d-%H%M%S)
            local backup_file="/etc/fstab.${date}"
            sudo cp -p /etc/fstab "${backup_file}"
            echo "Backup of fstab created at ${backup_file}."
            should_backup=false
        fi

        sudo mkdir -p "${mount_point}"
        echo "Adding new fstab entry for the share '${share}'.'"
        echo "${new_entry}" | sudo tee -a /etc/fstab >/dev/null
    fi
}

main() {
    log_section "Configuring NFS mounts"

{{- range .nfs.mounts }}
    add_fstab_entry "${NFS_SERVER_IP}:${SHARE_PREFIX}/{{ .share }}" "${MOUNTPOINT_PREFIX}/{{ .mountpoint }}" "${OPTS}" 0 0
{{- end }}

    systemctl daemon-reload
    sudo mount -a

    log_info "NFS mounts configuration completed"
}

# Run main function
main "$@"
{{- end -}}
