{{- range .taps }}
tap "{{ . }}"
{{- end }}

{{- range $category, $config := .brew }}
{{- if or (ne $.formFactor "server") (ne $config.server false) }}
# {{ $category | replace "_" " " | title }}
{{- range $config.packages }}
brew "{{ . }}"
{{- end }}

{{- end }}
{{- end }}
{{- if ne .formFactor "server" }}
{{- range $category, $config := .cask }}
# {{ $category | replace "_" " " | title }}
{{- range $config.packages }}
cask "{{ . }}"
{{- end }}

{{- end }}
{{- range $category, $config := .flatpak }}
# Flatpak - {{ $category | replace "_" " " | title }}
{{- range $config.packages }}
flatpak "{{ . }}"
{{- end }}

{{- end }}
{{- end }}
