[Desktop Entry]
Name=Recur
Comment=Recur desktop app
Exec={{ .chezmoi.homeDir }}/.local/bin/recur-app
Icon={{ .chezmoi.homeDir }}/.local/share/icons/recur.png
Terminal=false
Type=Application
Categories=Utility;
