[Desktop Entry]
Name=Resilio Sync
Comment=Resilio Sync UI
Exec=/usr/bin/flatpak run org.chromium.Chromium --app=http://localhost:8888
Icon={{ .chezmoi.homeDir }}/.local/share/icons/resilio-sync.svg
Terminal=false
Type=Application
Categories=Utility;FileTransfer;
