[Desktop Entry]
Name=KopiaUI
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=kopia-ui --file-forwarding io.kopia.KopiaUI @@u %U @@
Terminal=false
Type=Application
Icon=io.kopia.KopiaUI
StartupWMClass=KopiaUI
Comment=Fast and secure open source backup.
Categories=Utility;
X-Flatpak-RenamedFrom=kopia-ui.desktop;
X-Flatpak=io.kopia.KopiaUI
NotShowIn=niri
