[Desktop Entry]
Type=Application
Name=KopiaUI
Exec=/usr/bin/flatpak run io.kopia.KopiaUI
Icon=io.kopia.KopiaUI
Terminal=false
X-GNOME-Autostart-enabled=true
